<div style="padding:0;width:55px;height:55px;" class="cmd #history# tooltips cmd-widget container-fluid" data-type="info" data-subtype="binary" data-cmd_id="#id#" title="#Vigification#">
	<div>
		<div style="position: absolute;">
			
			<img class="SelectCase img-responsive" width='50' src='./plugins/CaveVin/core/template/images/CasierSelect.png'>
			<div style="position: absolute;left: 50%;top:50%;text-align: center;">
				#NbBouteille#
			</div>
		</div>
		<img class="iconCmd#id# img-responsive" width='50' src='./plugins/CaveVin/core/template/images/CasierVide.png'>
	</div>
	<script>
		$(".iconCmd#id#").empty();
		$(".SelectCase").hide();
		if ("#state#" == "1") {
			$(".iconCmd#id#").attr('src','./plugins/CaveVin/core/template/images/Casier#Couleur#.png');
		} else {
			$(".iconCmd#id#").attr('src','./plugins/CaveVin/core/template/images/CasierVide.png');
		}
		$('.cmd[data-cmd_id=#id#]').on('click', function() {
			$(".SelectCase").hide();
			$(this).parent().find(".SelectCase").show();
			logement='#id#';
			if (ActiveDialog){
				$('#md_modal').dialog({
					title: "Fiche vin du casier",
						height: 700,
						width: 850});
				$('#md_modal').load('index.php?v=d&modal=FicheVin.CaveVin&plugin=CaveVin&type=CaveVin', function() {
					getVinInformation('#logicalId#');
				});
				$('#md_modal').dialog('open');
			}	
			else
				getVinInformation('#logicalId#');
		});
	</script>
</div>
