<div class="allowResize eqLogic eqLogic-widget" data-eqLogic_id="#id#" data-version="dashboard" style="width: #width#;height: #height#;background-color: #background#;">
    <span class="statusCmd" style="position:absolute;left:5px;width:30px;"></span>
	<fieldset style="text-align:center;">
			<center class="widget-name">
				<a href="index.php?v=d&amp;p=CaveVin&amp;m=CaveVin&amp;id=#id#" style="font-size : 1.5em;">#name#</a> 
				<span style="font-size: 0.85em;position: relative;top:-2px;"></span>
			</center>
			<center>
				<table>#Casier#</table>
			</center>	
	</fieldset>
	<script>
	var ActiveDialog='#dialog#';
	var logement='';
	</script>
</div>